.launchContainer {
    width: 350px;
    border-radius: 20px;
    background-color: #FAFAF8;
    color: #282828;
    overflow: hidden;
    cursor: pointer;
    overflow-y: scroll;
}

.launchContainer:hover > .launchImageContainer > .launchImage {
    transform: scale(108%);
}

.launchImageContainer {
    overflow: hidden;
    height: 200px;
}

.launchImage {
    background-size: cover;
    height: 100%;
    transition: 0.2s transform ease-in-out;
}

.launchCopy{
    padding: 10px 20px;
}

.launchTitle{
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.buttonContainer{
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 400px){
    .launchContainer {
        width: 90%;
        margin: 0 auto;
    }
    .launchImageContainer {
        height: 50vw;
    }
}